# Simulating a real-world phenomenon
***

### Table of contents

#### 1. Introduction

#### 2. Variables

#### 3. Distributions

#### 4. Relationships

#### 5. Conclusion

#### 6. References

<br>

### 1. Introduction
***
Synthetic data is information that is artificially manufactured rather than generated by real-world events. Synthetic data is created algorithmically, and is used as a stand-in for test data sets of production or operational data, to validate models and, increasingly, to train machine learning models. It can be numerical, binary or categorical, and should preferably be random.

The data set will be created using the ```numpy.random``` package, which is used to generate random numbers and random sampling. The real-world phenomenon simulated below is the weight loss of an overweight male over the course of a calendar year from 01/01/20 to 31/12/20. As I have a personal trainer, I will use some of the variables he uses to track my progress. Every day I have to submit a check-in spreadsheet. Although my personal goal is not to loose weight, I will be using this in this particular example.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

### 2. Variables
***
The following variables will be used in the data set:

1. Date
2. Day
3. Weight (kg)
4. Resting Heart Rate (bpm)
5. Fasting Blood Glucose (mmol/L)
6. Exercise
7. Calorie Intake
8. Calorie Output
9. Calorie Difference
10. Total Daily Energy Expenditure
11. Weight
12. Body Mass Index

#### Date

In [2]:
start_date = "2020-01-01"
end_date = "2020-12-31"

date = pd.date_range(start_date, end_date, freq= "D")

df = pd.DataFrame({"Date": date})

print(df)

          Date
0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
..         ...
361 2020-12-27
362 2020-12-28
363 2020-12-29
364 2020-12-30
365 2020-12-31

[366 rows x 1 columns]

#### Day

In [3]:
df["Day"] = df["Date"].dt.day_name()

df["Day"] = df["Day"].astype("category")

print(df)

          Date        Day
0   2020-01-01  Wednesday
1   2020-01-02   Thursday
2   2020-01-03     Friday
3   2020-01-04   Saturday
4   2020-01-05     Sunday
..         ...        ...
361 2020-12-27     Sunday
362 2020-12-28     Monday
363 2020-12-29    Tuesday
364 2020-12-30  Wednesday
365 2020-12-31   Thursday

[366 rows x 2 columns]

#### Activity

In [4]:
activities = ["Rest", "Cardio", "Legs", "Chest", "Delts", "Arms"]

mon = df["Day"] == "Monday"
tue = df["Day"] == "Tuesday"
wed = df["Day"] == "Wednesday"
thu = df["Day"] == "Thursday"
fri = df["Day"] == "Friday"
sat = df["Day"] == "Saturday"
sun = df["Day"] == "Sunday"

pmon = np.random.choice(activities, p=[0, 0, 0.25, 0.25, 0.25, 0.25])
ptue = np.random.choice(activities, p=[0, 0, 0.25, 0.25, 0.25, 0.25])
pwed = np.random.choice(activities, p=[0, 0, 0.25, 0.25, 0.25, 0.25])
pthu = np.random.choice(activities, p=[0, 0, 0.25, 0.25, 0.25, 0.25])
pfri = np.random.choice(activities, p=[0.5, 0.5, 0, 0, 0, 0])
psat = np.random.choice(activities, p=[0.5, 0.5, 0, 0, 0, 0])
psun = np.random.choice(activities, p=[0.5, 0.5, 0, 0, 0, 0])

df["Activity"] = np.select([mon, tue, wed, thu, fri, sat, sun], [pmon, ptue, pwed, pthu, pfri, psat, psun], default=np.nan)
df["Activity"] = df["Activity"].astype("category")

print(df)

          Date        Day Activity
0   2020-01-01  Wednesday     Legs
1   2020-01-02   Thursday     Arms
2   2020-01-03     Friday     Rest
3   2020-01-04   Saturday   Cardio
4   2020-01-05     Sunday   Cardio
..         ...        ...      ...
361 2020-12-27     Sunday   Cardio
362 2020-12-28     Monday    Delts
363 2020-12-29    Tuesday     Legs
364 2020-12-30  Wednesday     Legs
365 2020-12-31   Thursday     Arms

[366 rows x 3 columns]

#### Calorie Input

cardio = jogging, general = 7.0
legs = resistance (weight) training, squats, slow or explosive effort = 5.0
chest/delts/arms = resistance (weight) training, multiple exercises, 8-15 repetitions at varied resistance = 3.5

In [5]:
start_weight = 80

rest = start_weight
cardio = start_weight * 7.0
legs = start_weight * 5.0
chest = start_weight * 3.5
delts = start_weight * 3.5
arms = start_weight * 3.5

In [6]:
def cals(row):
    if row["Activity"] == "Rest":
        return 0
    if row["Activity"] == "Cardio":
        return int(np.random.uniform(cardio/2, cardio))
    if row["Activity"] == "Legs":
        return int(np.random.uniform(legs/2, legs))
    if row["Activity"] == "Chest":
        return int(np.random.uniform(chest/2, chest))
    if row["Activity"] == "Delts":
        return int(np.random.uniform(delts/2, delts))
    if row["Activity"] == "Arms":
        return int(np.random.uniform(arms/2, arms))
    
df["Cals Burned"] = df.apply(lambda row: cals(row), axis = 1)

print(df)

          Date        Day Activity  Cals Burned
0   2020-01-01  Wednesday     Legs          363
1   2020-01-02   Thursday     Arms          180
2   2020-01-03     Friday     Rest            0
3   2020-01-04   Saturday   Cardio          517
4   2020-01-05     Sunday   Cardio          458
..         ...        ...      ...          ...
361 2020-12-27     Sunday   Cardio          493
362 2020-12-28     Monday    Delts          233
363 2020-12-29    Tuesday     Legs          279
364 2020-12-30  Wednesday     Legs          235
365 2020-12-31   Thursday     Arms          268

[366 rows x 4 columns]

In [7]:
def cal_intake():
    low = 1500
    high = 2500
    average = 2000
    std_dev = 165
    x = stats.truncnorm((low - average) / std_dev, (high - average) / std_dev, loc=average, scale=std_dev)
    cal_val = x.rvs(366).astype(int)
    return cal_val

cal_intake()

array([1731, 2185, 1896, 2028, 2017, 2138, 2045, 2117, 1913, 1960, 1810,
       2031, 2043, 1844, 2238, 2052, 1931, 1878, 1778, 2116, 2103, 1854,
       1833, 1992, 1939, 1925, 2094, 1925, 1981, 1713, 1952, 1789, 1916,
       1959, 1942, 1809, 2340, 1741, 1779, 1981, 2028, 1990, 1929, 1902,
       1858, 1770, 1898, 1982, 2360, 2219, 2116, 2044, 2138, 1919, 1933,
       1789, 2065, 2014, 2147, 2221, 1980, 2151, 1821, 2017, 1836, 2018,
       1977, 2064, 2286, 1978, 1957, 1748, 2004, 1788, 2243, 2127, 2161,
       1962, 1814, 1810, 1966, 2007, 2102, 1915, 1721, 2032, 2035, 1727,
       2077, 1971, 1785, 2298, 1846, 2080, 1509, 2205, 1941, 1922, 2209,
       2014, 1843, 2216, 2262, 1839, 1758, 2013, 2111, 2171, 1980, 1927,
       2076, 2047, 2114, 1885, 1958, 2086, 1935, 2220, 1927, 1905, 2107,
       2153, 2280, 2140, 1922, 2098, 2076, 2231, 2269, 2063, 2127, 2146,
       2197, 1823, 2150, 1783, 1995, 2204, 2051, 2010, 1855, 2258, 1952,
       1905, 2265, 2071, 2008, 2077, 1998, 1742, 2049, 2214, 1995, 2074,
       2147, 1940, 1998, 1620, 2082, 1900, 1935, 2063, 1900, 1919, 2127,
       2015, 1833, 2206, 2172, 2145, 1731, 2042, 1965, 1939, 1995, 1862,
       2043, 2210, 2036, 2108, 1973, 2008, 1988, 2370, 1884, 2122, 2139,
       1933, 2047, 2169, 1841, 1964, 2077, 1979, 2128, 1924, 1993, 2204,
       1986, 1920, 1866, 2047, 2012, 2157, 1627, 1681, 1852, 1903, 2049,
       1922, 2074, 1919, 1899, 2196, 2400, 1958, 1734, 1846, 1940, 2269,
       1957, 1939, 2036, 2106, 1985, 2031, 1869, 1928, 1961, 2076, 2093,
       2092, 2379, 1806, 2043, 2123, 1827, 1768, 1813, 2022, 2113, 2133,
       2150, 2014, 1748, 2045, 1898, 2369, 2160, 2229, 1815, 2019, 2094,
       1819, 2009, 1990, 1855, 1768, 1839, 2080, 2163, 2246, 1880, 1971,
       2368, 2124, 2177, 2115, 1862, 2100, 2254, 1830, 1947, 2135, 2161,
       1909, 1913, 1980, 2068, 1902, 2197, 1964, 1994, 2063, 1935, 1987,
       1986, 1965, 1927, 2028, 2028, 2083, 2086, 1947, 2447, 2145, 1951,
       1840, 1994, 2040, 1834, 2060, 1952, 1858, 1824, 2001, 1789, 2270,
       1593, 2059, 1969, 1886, 2027, 2035, 2104, 1655, 2222, 1783, 2151,
       2166, 2023, 1892, 1598, 2034, 1967, 2162, 1861, 1777, 2185, 2086,
       1851, 1834, 2023, 2214, 1900, 2101, 1959, 2097, 2094, 2150, 2021,
       1960, 1868, 2086, 1930, 2072, 1870, 1903, 2103, 2020, 1930, 1953,
       1958, 1930, 2206, 1971, 1932, 1999, 1818, 1963, 2050, 1968, 1957,
       1732, 2225, 1724])

In [8]:
#df["Cals In"] = cal_intake()
less_cals = np.random.uniform(200, 300)
df["Cals In"] = np.where((((df["Activity"])=="Rest") | ((df["Activity"])=="Cardio")), cal_intake() - int(less_cals), cal_intake())
print(df)

          Date        Day Activity  Cals Burned  Cals In
0   2020-01-01  Wednesday     Legs          363     1902
1   2020-01-02   Thursday     Arms          180     2077
2   2020-01-03     Friday     Rest            0     1582
3   2020-01-04   Saturday   Cardio          517     1642
4   2020-01-05     Sunday   Cardio          458     1484
..         ...        ...      ...          ...      ...
361 2020-12-27     Sunday   Cardio          493     1756
362 2020-12-28     Monday    Delts          233     1997
363 2020-12-29    Tuesday     Legs          279     2144
364 2020-12-30  Wednesday     Legs          235     1855
365 2020-12-31   Thursday     Arms          268     1953

[366 rows x 5 columns]

#### BMI

In [9]:
# Height (cm) and starting weight (kg) variables.
height = 180
starting_weight = 90

# BMI function.
def bmi(weight, height):
    result = weight/(height/100)**2
    return result

# Starting BMI.
starting_bmi = bmi(starting_weight, height)
print("Starting BMI:", round(starting_bmi, 2) )

Starting BMI: 27.78

#### BMR

In [10]:
# Variables to determine BMR.
age = 30
male = 5
female = -161

# BMR function
def bmr(weight, height, age, sex):
    result = 10 * weight + 6.25 * height - 5 * age + sex
    return result

# Calculating and displaying starting BMR.
starting_bmr = bmr(starting_weight, height, age, male)
print('Starting BMR: ', round(starting_bmr), 'calories.')

Starting BMR:  1880 calories.

#### TDEE

In [11]:
# TDEE function.
def tdee(weight):
    result = bmr(weight, height, age, male) * 1.2
    return result
         
# Calculating and displaying starting TDEE.
starting_tdee = tdee(starting_weight)
print('Starting TDEE:', round(starting_tdee), 'calories.')

Starting TDEE: 2256 calories.

In [12]:
# Creating TDEE column with just first row filled.
df["TDEE"] = np.nan
df.loc[0, "TDEE"] = starting_tdee

# Printing head of current dataset.
df.head()

        Date        Day Activity  Cals Burned  Cals In    TDEE
0 2020-01-01  Wednesday     Legs          363     1902  2256.0
1 2020-01-02   Thursday     Arms          180     2077     NaN
2 2020-01-03     Friday     Rest            0     1582     NaN
3 2020-01-04   Saturday   Cardio          517     1642     NaN
4 2020-01-05     Sunday   Cardio          458     1484     NaN

#### Weight Goal and Calorie Deficit

In [13]:
# Target total weight loss in kilograms.
target = 10

# Target weekly weight loss.
weekly_target = target/52
print('Target weekly weight loss:', str(round(weekly_target, 3)) + 'kg')

# Estimated number of kilograms per calorie based on 3500cal = 0.454kg.
kg_per_cal = 0.454/3500 

# Function converting calories to kilograms. 
def cal_to_kg(calories):
    kg = calories * kg_per_cal
    return kg

# Weekly and daily calorie deficits.
weekly_cal_deficit = 1500
daily_cal_deficit = weekly_cal_deficit/7

# Weekly weight loss, daily calorie deficit and daily calorie allowance targets.
print('')
print('Estimated weekly weight loss based on calorie deficit of', str(weekly_cal_deficit) + ':', str(cal_to_kg(weekly_cal_deficit)) + 'kg')
print('')
print('Daily calorie deficit required:', round(daily_cal_deficit))
print('')
print('Daily calorie allowance:', round(starting_tdee - daily_cal_deficit))

Target weekly weight loss: 0.192kg

Estimated weekly weight loss based on calorie deficit of 1500: 0.19457142857142856kg

Daily calorie deficit required: 214

Daily calorie allowance: 2042

#### Cals Out

In [14]:
# Creating cals_out column.
df["Cals Out"] = np.nan
df.loc[0, "Cals Out"] = df.loc[0, "TDEE"] + df.loc[0, "Cals Burned"]

# Printing head of current dataset.
df.head()

        Date        Day Activity  Cals Burned  Cals In    TDEE  Cals Out
0 2020-01-01  Wednesday     Legs          363     1902  2256.0    2619.0
1 2020-01-02   Thursday     Arms          180     2077     NaN       NaN
2 2020-01-03     Friday     Rest            0     1582     NaN       NaN
3 2020-01-04   Saturday   Cardio          517     1642     NaN       NaN
4 2020-01-05     Sunday   Cardio          458     1484     NaN       NaN

#### Weight

In [15]:
# Creating cal_dif column.
df["Cal Diff"] = np.nan
df.loc[0, "Cal Diff"] = df.loc[0, "Cals In"] - df.loc[0, "Cals Out"]

# Printing head of current dataset.
df.head()

,Date,Day,Activity,Cals Burned,Cals In,TDEE,Cals Out,Cal Diff
0,2020-01-01,Wednesday,Legs,363,1902,2256.0,2619.0,-717.0
1,2020-01-02,Thursday,Arms,180,2077,NaN,NaN,NaN
2,2020-01-03,Friday,Rest,0,1582,NaN,NaN,NaN
3,2020-01-04,Saturday,Cardio,517,1642,NaN,NaN,NaN
4,2020-01-05,Sunday,Cardio,458,1484,NaN,NaN,NaN

In [16]:
# Creating gain_or_loss column.
df["Kg Gain/Loss"] = np.nan
df.loc[0, "Kg Gain/Loss"] = cal_to_kg(df.loc[0, "Cal Diff"]) + (np.random.choice((-1, 1)) * np.random.normal(0.0274, 0.01))

# Printing head of current dataset.
df.head()

,Date,Day,Activity,Cals Burned,Cals In,TDEE,Cals Out,Cal Diff,Kg Gain/Loss
0,2020-01-01,Wednesday,Legs,363,1902,2256.0,2619.0,-717.0,-0.070943
1,2020-01-02,Thursday,Arms,180,2077,NaN,NaN,NaN,NaN
2,2020-01-03,Friday,Rest,0,1582,NaN,NaN,NaN,NaN
3,2020-01-04,Saturday,Cardio,517,1642,NaN,NaN,NaN,NaN
4,2020-01-05,Sunday,Cardio,458,1484,NaN,NaN,NaN,NaN

In [17]:
# Creating the weight column.
df["Weight"] = np.nan
df.loc[0, "Weight"] = starting_weight + df.loc[0, "Kg Gain/Loss"]

# Printing head of current dataset.
df.head()

,Date,Day,Activity,Cals Burned,Cals In,TDEE,Cals Out,Cal Diff,Kg Gain/Loss,Weight
0,2020-01-01,Wednesday,Legs,363,1902,2256.0,2619.0,-717.0,-0.070943,89.929057
1,2020-01-02,Thursday,Arms,180,2077,NaN,NaN,NaN,NaN,NaN
2,2020-01-03,Friday,Rest,0,1582,NaN,NaN,NaN,NaN,NaN
3,2020-01-04,Saturday,Cardio,517,1642,NaN,NaN,NaN,NaN,NaN
4,2020-01-05,Sunday,Cardio,458,1484,NaN,NaN,NaN,NaN,NaN

#### BMI

In [18]:
# Creating BMI column.
df["BMI"] = np.nan
df.loc[0, "BMI"] = bmi(df.loc[0, "Weight"], height)

# Printing head of current dataset.
df.head()

,Date,Day,Activity,Cals Burned,Cals In,TDEE,Cals Out,Cal Diff,Kg Gain/Loss,Weight,BMI
0,2020-01-01,Wednesday,Legs,363,1902,2256.0,2619.0,-717.0,-0.070943,89.929057,27.755882
1,2020-01-02,Thursday,Arms,180,2077,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-03,Friday,Rest,0,1582,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-04,Saturday,Cardio,517,1642,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-05,Sunday,Cardio,458,1484,NaN,NaN,NaN,NaN,NaN,NaN

#### RHR

In [36]:
# Normal range 60-100
# started at 70
# go from 70 down to 62
rhr = np.linspace(70, 62, 365) + np.random.normal(0, 1, 365)
print(rhr)

[70.60667219 69.92006816 71.77770609 69.25051525 70.02091207 69.00490835
 71.2550013  68.97582368 70.49487874 69.47458567 69.52847421 70.14840953
 70.1603754  69.3915813  69.50683759 70.87014941 70.57337627 70.03249265
 67.99397971 69.40679479 69.60051593 68.98620269 68.60944335 69.99990532
 68.53025252 70.00128812 68.26438056 68.36650042 68.81981271 68.82119656
 69.65077949 70.58670747 69.23249715 69.64625027 69.68708596 70.11855115
 69.86287014 69.2258638  69.77507815 70.0542683  70.19156987 69.20453318
 69.00856782 68.81341502 70.56373109 70.61042642 68.22209085 69.2695306
 68.99398197 66.74947678 70.15764608 71.43797743 68.78563047 67.72989518
 68.8984793  68.0336393  68.31851653 68.12923034 68.54506287 69.99258071
 69.09474917 69.73608909 69.55800901 68.33491563 68.52946387 67.970812
 68.08038557 67.80585257 68.40505869 68.66029154 69.5362994  69.03593496
 69.76156061 68.64763351 69.0874176  66.81040512 69.31571217 67.32756907
 69.97692239 68.47383145 68.63621644 69.38474924 67.3676562  67.94525286
 67.5642496  66.51840165 69.08710256 68.66234955 66.6613234  67.84096389
 67.35486755 67.95055668 68.6003942  67.60609176 67.52972393 68.22792716
 68.76364073 67.40731804 67.85066693 69.34439044 67.61812646 66.9722448
 67.55983985 66.80028298 67.748357   69.57091301 66.96030666 67.96357156
 68.569239   68.28768375 66.69767829 68.82986101 68.27526844 66.57457575
 69.10185947 68.83790138 65.99225094 65.56521546 67.90912871 66.21490362
 65.16837659 70.07523408 65.7035708  68.26243677 67.01682161 69.07843216
 67.90725911 66.07099436 67.82502483 68.00520287 68.46067585 65.9248364
 67.69028866 65.26746522 67.89021654 66.94079011 68.688689   65.98625387
 67.5817436  67.54832029 66.56609064 66.52974744 67.77128497 65.48812866
 67.46785267 65.78943206 66.5281436  67.10891605 66.44498755 67.25345413
 66.34129596 65.97817558 64.7059583  65.97433901 66.75343137 66.01966304
 66.30076324 66.46335848 66.99670648 67.98001579 65.56131363 66.06664587
 65.95388135 68.74886198 67.21353793 67.01129619 65.14697908 65.12878149
 65.91486809 65.67175205 65.97364334 63.82623059 64.56612279 66.14679829
 66.02550704 67.94324849 66.06728533 68.61241033 68.46852506 64.76803527
 65.21674628 65.28302063 66.36474349 64.96095296 65.52888008 64.86541579
 66.4814569  64.7841661  66.97864118 64.19356085 66.85735317 67.11321807
 65.6622523  66.61748807 66.72424159 66.24657797 67.25253721 67.08373474
 67.07456755 66.18338578 65.80182153 64.92008495 67.71579791 66.13972984
 66.02285582 65.48268473 65.06700484 66.31336272 65.63200624 65.09108449
 65.67360529 65.34853947 65.15926138 65.6210633  63.81414475 65.60178081
 65.59698651 65.12002031 65.02214388 66.27336304 65.42635336 64.63137767
 65.43338474 64.46615961 64.81241861 64.84710474 64.40346979 64.97866201
 65.48177515 65.80442343 64.32592825 65.13215225 64.36915158 64.64722532
 63.0999151  65.38343987 63.83430699 66.38809662 64.5811327  63.93383264
 62.9418253  62.13762453 66.01935343 63.6458262  64.08935239 64.46576586
 64.54001378 64.3493278  66.13320845 62.6936994  63.47420389 64.0751199
 66.05554249 64.15256119 65.23045423 64.76446398 63.83147373 64.39358672
 62.84699384 64.43596942 63.5050144  64.49050857 64.10165196 65.76608674
 64.56730837 64.2806652  64.23316317 64.84547672 65.75419281 63.00895968
 62.23732296 62.44507237 63.91799834 65.03310728 63.92504617 63.07492943
 62.1717937  63.48936349 65.99642241 63.15562388 66.66638049 64.61701952
 62.45205693 65.03990986 65.26439732 61.46415289 64.00543873 64.90679791
 65.49120617 63.34941803 63.03769748 61.97572659 62.92231414 65.03310386
 63.66654151 64.37269326 63.03682834 62.66550055 62.96798194 63.28739208
 63.15974192 63.00557161 62.56034893 63.72830917 61.38129401 64.55973968
 62.85564934 63.6335121  61.30963337 62.92305144 63.95212198 65.65793346
 61.95317964 61.79844391 61.49703043 63.45346448 62.23703541 63.9358398
 62.45366719 65.06363558 62.33573215 63.994002   62.16718588 63.26727836
 61.50280595 62.98207357 60.13264283 62.10549701 61.92841811 63.09089004
 62.17107148 62.34049021 62.59501669 61.75904728 65.18621497 63.16581801
 62.78464072 61.76909613 62.68993108 62.08638545 62.13651524 62.58012332
 62.78920679 61.95803098 63.3301054  62.29431585 61.29513042 62.97752523
 63.03102097 62.24997696 62.55006074 62.92715419 60.7940422  63.15573548
 61.16156919 61.60320396 62.7451143  60.55844667 60.92674874 62.74839212
 62.99617981 62.63375309 61.8649381  64.20342688 62.24119793]

          Date        Day Activity  Cals Burned  Cals In         TDEE  \
0   2020-01-01  Wednesday     Legs          363     1902  2256.000000
1   2020-01-02   Thursday     Arms          180     2077  2255.148679
2   2020-01-03     Friday     Rest            0     1582  2255.043502
3   2020-01-04   Saturday   Cardio          517     1642  2254.417672
4   2020-01-05     Sunday   Cardio          458     1484  2252.813335
..         ...        ...      ...          ...      ...          ...
361 2020-12-27     Sunday   Cardio          493     1756  1981.646778
362 2020-12-28     Monday    Delts          233     1997  1981.178097
363 2020-12-29    Tuesday     Legs          279     2144  1981.209366
364 2020-12-30  Wednesday     Legs          235     1855  1981.509458
365 2020-12-31   Thursday     Arms          268     1953  1980.653859

        Cals Out     Cal Diff  Kg Gain/Loss     Weight        BMI  \
0    2619.000000  -717.000000     -0.070943  89.929057  27.755882
1    2435.148679  -358.148679     -0.008765  89.920292  27.753177
2    2255.043502  -673.043502     -0.052153  89.868139  27.737080
3    2771.417672 -1129.417672     -0.133695  89.734445  27.695816
4    2710.813335 -1226.813335     -0.119778  89.614667  27.658848
..           ...          ...           ...        ...        ...
361  2474.646778  -718.646778     -0.039057  67.098175  20.709313
362  2214.178097  -217.178097      0.002606  67.100780  20.710117
363  2260.209366  -116.209366      0.025008  67.125788  20.717836
364  2216.509458  -361.509458     -0.071300  67.054488  20.695830
365  2248.653859  -295.653859     -0.070569  66.983919  20.674049

                                                   RHR
0    [70.60667218910494, 69.92006815722043, 71.7777...
1    [70.60667218910494, 69.92006815722043, 71.7777...
2    [70.60667218910494, 69.92006815722043, 71.7777...
3    [70.60667218910494, 69.92006815722043, 71.7777...
4    [70.60667218910494, 69.92006815722043, 71.7777...
..                                                 ...
361  [70.60667218910494, 69.92006815722043, 71.7777...
362  [70.60667218910494, 69.92006815722043, 71.7777...
363  [70.60667218910494, 69.92006815722043, 71.7777...
364  [70.60667218910494, 69.92006815722043, 71.7777...
365  [70.60667218910494, 69.92006815722043, 71.7777...

[366 rows x 12 columns]

#### FBG

5.0 and 5.5 is the optimal https://stackoverflow.com/questions/14058340/adding-noise-to-a-signal-in-python

In [40]:
fbg = np.linspace(5.8, 5.2, 365) + np.random.normal(0, 0.1, 365)
print(fbg)

[5.95403129 5.80769613 5.70415246 5.74438002 5.74554427 5.9484355
 5.75785973 5.54108998 5.67870222 5.69260533 5.93122259 5.91521353
 5.60369799 5.69899256 5.88558359 5.85707412 5.86380909 5.69499786
 6.06788509 5.86609042 5.72727413 5.68024971 5.79927808 5.84826709
 5.95026908 5.7989951  5.85293504 5.74124128 5.73605693 5.71982783
 5.90555081 5.73411448 5.6206462  5.68568389 5.73431861 5.80743415
 5.64631857 5.96706138 5.70443475 5.78319554 5.86569156 5.56395076
 5.84423628 5.8562837  5.79236988 5.55535261 5.58550557 5.77796423
 5.72999382 5.76658159 5.59220416 5.78379038 5.62131664 5.67519119
 5.56823883 5.67222019 5.65678483 5.88551188 5.69359751 5.65486381
 5.70327452 5.53307856 5.79063329 5.77761582 5.63422527 5.7053728
 5.59955465 5.51024433 5.75085637 5.61561534 5.54634279 5.79606109
 5.61427309 5.69829564 5.68287398 5.65274597 5.60447768 5.70131757
 5.85020168 5.70814978 5.5817823  5.84234282 5.70128969 5.64376095
 5.78049539 5.73703694 5.55113424 5.82128576 5.60665789 5.8165795
 5.75754921 5.58609515 5.62937444 5.63029743 5.63719965 5.5944844
 5.63629171 5.6911101  5.72638495 5.80790107 5.49858067 5.51605251
 5.60931879 5.6087244  5.76020916 5.48628968 5.58712438 5.65499334
 5.41967324 5.47526009 5.38672462 5.50954136 5.6478772  5.75086477
 5.69337618 5.58482348 5.61516739 5.7881723  5.48654946 5.57947667
 5.46467607 5.63419161 5.54224078 5.49361191 5.37639091 5.70419798
 5.60084886 5.71917489 5.79509177 5.56951537 5.65791638 5.39151333
 5.69954106 5.51744916 5.57811474 5.51368966 5.59622261 5.59383603
 5.63662642 5.6592266  5.82306148 5.46156566 5.61707661 5.45988172
 5.76794943 5.50999063 5.48100574 5.5151369  5.54888592 5.75503405
 5.45254816 5.47179901 5.61048963 5.54438305 5.60451533 5.56266339
 5.58011685 5.40779189 5.62976362 5.48707976 5.41841971 5.41552443
 5.55734546 5.54162414 5.77705708 5.52309039 5.62602581 5.46393721
 5.71540988 5.78723337 5.47389002 5.62029722 5.46960202 5.42173139
 5.62625713 5.4439081  5.55228777 5.66791658 5.60315978 5.79896893
 5.54500949 5.59156779 5.46468206 5.36402279 5.51554625 5.35131307
 5.55215992 5.30645781 5.59495401 5.45328415 5.5621722  5.35351219
 5.59446407 5.66399253 5.28813698 5.52260668 5.48803417 5.44557839
 5.47938747 5.3437095  5.42286393 5.39279878 5.62396681 5.40869402
 5.44787675 5.60304858 5.35898552 5.53059089 5.53432088 5.38242357
 5.52634606 5.3239861  5.53148292 5.41234404 5.58760149 5.44900874
 5.49652575 5.39711813 5.42319811 5.35987854 5.40264575 5.35506797
 5.2846961  5.2603848  5.47202504 5.4356402  5.3284028  5.39856665
 5.50747642 5.42496729 5.52580591 5.48491029 5.32512393 5.2243272
 5.22942184 5.4563308  5.36564064 5.39966505 5.54684858 5.45679122
 5.23823272 5.35147506 5.46049854 5.44267712 5.4259899  5.35760762
 5.27405504 5.28558397 5.34998793 5.35643682 5.34700105 5.41551079
 5.15939058 5.46384139 5.33160327 5.49776078 5.44455003 5.3026393
 5.39878553 5.46240275 5.3111321  5.31884388 5.40514391 5.53717853
 5.54702258 5.41155151 5.36487541 5.25176317 5.46759569 5.34866463
 5.41396868 5.38781314 5.19517569 5.3014858  5.38115965 5.32231785
 5.39439883 5.20953427 5.44162359 5.48543667 5.51426287 5.29068884
 5.20763398 5.36343581 5.34376263 5.48253044 5.36160904 5.30515013
 5.35272463 5.3425435  5.38188115 5.52718176 5.11895116 5.51834226
 5.18933224 5.17905987 5.26902586 5.21543175 5.22136055 5.34888159
 5.3324444  5.46877917 5.17761464 5.38368187 5.36744072 5.40878719
 5.39139266 5.27097325 5.2513103  5.2140605  5.25460591 5.16495758
 5.28695361 5.4057155  5.28248492 5.38097409 5.22006525 5.44998013
 5.09980448 5.31191806 5.1848104  5.42666566 5.29266989 5.35542834
 5.28899511 5.47166557 5.29706833 5.35961956 5.20077283 5.28573848
 5.2070238  5.4256401  5.28785337 5.12697594 5.47511376 5.21421012
 5.19676279 5.20273477 5.1513528  5.35800605 5.29967941 5.35201209
 5.19374508 5.29810467 5.2577409  5.27052324 5.18313661 5.29918185
 5.17975388 5.27414611 5.18228151 5.28925695 5.41734176 5.24084751
 5.33247903 5.31882231 5.25311184 5.13530113 5.27015498 5.26671561
 5.22592455 5.39048102 5.25827733 5.18357971 5.27696963]

#### Populating the Data Set

In [22]:
# For loop to fill in missing values, starting from the second row.
#for i in range(1, len(df)):    
    # tdee depends on the weight of the previous day.
#    df.loc[i, "TDEE"] = tdee(df.loc[i-1, "Weight"])    
    # cals_out is the addition of tdee + exercise_cals.
#    df.loc[i, "Cals Out"] = df.loc[i, "TDEE"] + df.loc[i, "Cals Burned"]     
#    # cal_dif is the subtraction of cals_out from cals_in.
#    df.loc[i, "Cal Diff"] = df.loc[i, "Cals In"] - df.loc[i, "Cals Out"]    
    # gain_or_loss is the conversion of cals_out to weight plus a random variant.
#    df.loc[i, "Kg Gain/Loss"] = cal_to_kg(df.loc[i, "Cal Diff"]) + (np.random.choice((-1, 1)) * np.random.normal(0.0357, 0.01))    
    # weight is the subtraction of gain_or_loss from the previous day's weight.
#    df.loc[i, "Weight"] = df.loc[i-1, "Weight"] + df.loc[i, "Kg Gain/Loss"] 
    # bmi is the conversion of weight to a BMI score.
#    df.loc[i, "BMI"] = bmi(df.loc[i, "Weight"], height)
    
# Printing head of current dataset.
#df.head()

,Date,Day,Activity,Cals Burned,Cals In,TDEE,Cals Out,Cal Diff,Kg Gain/Loss,Weight,BMI
0,2020-01-01,Wednesday,Legs,363,1902,2256.000000,2619.000000,-717.000000,-0.070943,89.929057,27.755882
1,2020-01-02,Thursday,Arms,180,2077,2255.148679,2435.148679,-358.148679,-0.008765,89.920292,27.753177
2,2020-01-03,Friday,Rest,0,1582,2255.043502,2255.043502,-673.043502,-0.052153,89.868139,27.737080
3,2020-01-04,Saturday,Cardio,517,1642,2254.417672,2771.417672,-1129.417672,-0.133695,89.734445,27.695816
4,2020-01-05,Sunday,Cardio,458,1484,2252.813335,2710.813335,-1226.813335,-0.119778,89.614667,27.658848